@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Fundo branco */
    --foreground: 0 0% 0%; /* Texto preto */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 177 100% 24%; /* Verde #007E7A */
    --primary-foreground: 0 0% 98%;
    --secondary: 177 100% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 177 100% 24%;
    --muted-foreground: 142 30% 45%;
    --accent: 177 100% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 20% 90%;
    --input: 142 20% 90%;
    --ring: 177 100% 24%;
    --chart-1: 177 100% 24%;
    --chart-2: 177 100% 20%;
    --chart-3: 177 100% 30%;
    --chart-4: 177 100% 24%;
    --chart-5: 177 100% 18%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%; /* Fundo branco também no tema escuro */
    --foreground: 0 0% 0%; /* Texto preto */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 177 100% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 177 100% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 177 100% 24%;
    --muted-foreground: 177 20% 60%;
    --accent: 177 100% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 177 20% 90%;
    --input: 177 20% 90%;
    --ring: 177 100% 24%;
    --chart-1: 177 100% 24%;
    --chart-2: 177 100% 20%;
    --chart-3: 177 100% 30%;
    --chart-4: 177 100% 24%;
    --chart-5: 177 100% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box; /* Garante que o padding e border não afetem a largura dos elementos */
  }
  
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden; /* Evita rolagem lateral */
    max-width: 100%; /* Garante que o corpo da página não ultrapasse a tela */
  }

  html, body {
    width: 100%;
    overflow-x: hidden; /* Desabilita rolagem lateral */
  }

  /* Garantir que as imagens e vídeos não ultrapassem a largura da tela */
  img, video {
    max-width: 100%;
    height: auto;
  }

  /* Caso haja containers com largura fixa, evitar que eles ultrapassem a tela */
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
}
